page-login {
    ion-content{
        &::after{
            content: '\A';
            position: absolute;
            width: 100%; height:100%;
            top:0; left:0;
            background:rgba(0,0,0,0.6);
        }
        background:url(../assets/imgs/bg.jpg) center center no-repeat;
        background-size: cover;
        .logo{
            width: 80px;
        }
        .upper{
            margin-top:20%;
            img{
                width:50%;
            }
        }
        .bottom{
            margin-bottom:20px;
        }
        form{
            ion-item{
                background:transparent !important;
                ion-input{
                    color:color($colors,light);
                }
            }
        }
    }
}
