<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
  <div class="upper" padding text-center>
    <img src="assets/imgs/logo.png">
    <p ion-text color="light">Login to your account</p>
  </div>
  <div class="bottom">
    <form>
      <ion-item>
        <ion-label ion-text color="light" fixed>Email</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="light" fixed>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </form>
  </div>
  <div class="buttons">
    <ion-row>
      <ion-col text-center>
        <button  (click)="Signin()" ion-button>
          Login
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>