<!--
  Generated template for the WorkoutDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Workout Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<img src="assets/imgs/swimming.jpg" img-responsive>

<div padding>
    <h3>Workout Title</h3>
    <h5 ion-text color="secondary">Level 1</h5>
    <p ion-text color="gray">
        - 10 x 4 Push-ups.<br>
        - 12 x 3 Squats.<br>
        - 12 x 4 Lunges.
    </p>
</div>

</ion-content>
