<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Athletes" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Workouts" tabIcon="pulse"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Confirmations" tabIcon="albums"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Scan" tabIcon="qr-scanner"></ion-tab>
</ion-tabs>
