<!--
  Generated template for the AddPackagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
  <ion-buttons start>
    <button ion-button icon-only (click)="dismiss()">
      <ion-icon name="md-close"></ion-icon>
    </button>
  </ion-buttons>

  <h4 text-center ion-text color="light">Add Package</h4>
  <p text-center ion-text color="primary">for
    <strong>" Athlete Name "</strong>
  </p>

  <form text-center>
    <ion-item>
      <ion-label ion-text color="light">Packages</ion-label>
      <ion-select interface="action-sheet">
        <ion-option>Package 1</ion-option>
        <ion-option>Package 2</ion-option>
        <ion-option>Package 3</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label ion-text color="light">Paid</ion-label>
      <ion-toggle color="secondary" checked="false"></ion-toggle>
    </ion-item>
    <br>
    <button color="primary" ion-button small (click)="dismiss()">ADD</button>
  </form>
</ion-content>