page-add-package {
    form{
        margin-top:100px;
        .item-inner{
            border-bottom: 0.55px solid #c8c7cc61 !important;
        }
        ion-item{
            background:transparent !important;
            ion-input{
                color:color($colors,light);
            }
        }
        .select-text{
            color:color($colors,light);
        }
    }
}
