<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Confirmed List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-list>
        <ion-item *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]" (click)="view(x)">
          <!-- <ion-icon name="contact" item-start></ion-icon> -->
          <ion-avatar item-start>
            <img src="assets/imgs/model.jpg">
          </ion-avatar>
            Athlete
        </ion-item>
      </ion-list>
</ion-content>
