<!--
  Generated template for the AthleteProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Athlete Name</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="user-info">
    <img src="assets/imgs/model.jpg" class="avatar">
    <br>
    <h4 ion-text color="dark">Name</h4>
    <p>
      <ion-icon name="star"></ion-icon>4.5</p>
    <hr>
    <h4 text-left ion-text color="gray">Notes</h4>
    <ion-slides>
      <ion-slide *ngFor="let x of [1,2,3,4,5]">
          <ion-card>
              <ion-card-header text-left>
                <span>Coach Name</span> <span class="dateNote" ion-text  >12-12-2018</span>
              </ion-card-header>
              <ion-card-content>
                <p ion-text color="gray" text-left>
                  " The British use the term "header", but the American term "head-shot" the English simply refuse to adopt. "
                </p>
              </ion-card-content>
            </ion-card>
      </ion-slide>
    </ion-slides>
    <hr>
    <!-- <ion-list>
      <ion-card>
        <ion-card-header text-left>
          Coach Name
        </ion-card-header>
        <ion-card-content>
          <p ion-text color="gray" text-left>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list> -->
    
  </div>
  <ion-fab top right>
    <button (click)="addNote()" color="secondary" ion-fab mini>
      <ion-icon name="paper"></ion-icon>
    </button>
    <h3>
      ADD
      <br>NOTE
    </h3>
  </ion-fab>
  <ion-fab top left>
    <button (click)="addPackage()" color="secondary" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <h3>
      ADD
      <br>PACKAGE
    </h3>
  </ion-fab>
  <div padding>
    <ion-segment color="dark" [(ngModel)]="choice">
      <ion-segment-button value="sessions">
        Sessions
      </ion-segment-button>
      <ion-segment-button value="history">
        History
      </ion-segment-button>
      <ion-segment-button value="record">
        Records
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="choice">
    <ion-list *ngSwitchCase="'sessions'">
      <ion-card padding *ngFor="let x of [1,2,3,4]">
        <div class="counter" text-center>
          <strong>Title</strong>
          <h1 ion-text color="secondary">5</h1>
          <p>Remaining Sessions</p>
        </div>
        <ion-row text-center>
          <ion-col>
            <button ion-button small outline color="dark">
              <strong class="mg_r"> </strong> branch</button>
          </ion-col>
        </ion-row>
        <ion-row >
            <ion-col id="paid" text-center >
              <span ion-text color="{{myColor}}" innerHTML="{{paid}}"></span>
            </ion-col>
            <ion-col *ngIf="!hidden">
              <button ion-button small (click)="MarkAsPaid(x)"  color="secondary">
                 Mark as paid</button>
            </ion-col>
          </ion-row>

        <div padding>
          <p class="valid" text-center>Valid until :
            <strong ion-text color="secondary">12-12-2018</strong>
          </p>
        </div>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'history'">
      <ion-card padding>
        <div class="counter" text-center>
          <strong>Title</strong>
          <h1 ion-text color="secondary">155</h1>
          <p>Total Sessions</p>
          <ion-row class="sub-counter">
            <ion-col>
              <h2 ion-text color="secondary">55</h2>
              <p>Swimming</p>
            </ion-col>
            <ion-col>
              <h2 ion-text color="secondary">100</h2>
              <p>Fitness</p>
            </ion-col>
          </ion-row>
        </div>

      </ion-card>
      <ion-item *ngFor="let x of [1,2,3,4]">
        <h3 ion-text color="dark">Title</h3>
        <p ion-text color="gray">Lorem Ipsum is simply dummy text </p>
        <span class="sm-text" item-end ion-text color="secondary">12-02-2018</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'record'">
      <ion-card padding *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]">
        <ion-row>
          <ion-col text-center>
            <div>
              <h1 ion-text color="secondary">50 M</h1>
              <p>Free Style</p>
            </div>
          </ion-col>
          <ion-col text-center>
            <h2 class="timer" ion-text color="dark">29:30</h2>
          </ion-col>
          <ion-col text-right>
            <span class="date" ion-text color="gray">12-12-2018</span>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-list>
  </div>
</ion-content>