<!--
  Generated template for the ScannedAthletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Athlete</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="user-info">
    <img src="assets/imgs/model.jpg" class="avatar">
    <br>
    <h4 ion-text color="dark">Name</h4>
    <p>
      <ion-icon name="star"></ion-icon>4.5</p>
    <hr>
    <h4 text-left ion-text color="gray">Notes</h4>
    <ion-slides>
      <ion-slide *ngFor="let x of [1,2,3,4,5]">
        <ion-card>
          <ion-card-header text-left>
            <span>Coach Name</span>
            <span class="dateNote" ion-text>12-12-2018</span>
          </ion-card-header>
          <ion-card-content>
            <p ion-text color="gray" text-left>
              " The British use the term "header", but the American term "head-shot" the English simply refuse to adopt. "
            </p>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <hr>
    <h4 text-left ion-text color="gray">Packages</h4>
  <ion-card padding *ngFor="let x of [1,2]">
    <div class="counter" text-center>
      <strong>Title</strong>
      <h1 ion-text color="secondary" innerHTML="{{no_of_sessions}}"></h1>
      <p>Remaining Sessions</p>
    </div>
    <ion-row text-center>
      <ion-col>
        <button ion-button small outline color="dark">
          <strong class="mg_r"> </strong> branch</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="paid" text-center>
        <span ion-text color="{{myColor}}" innerHTML="{{paid}}"></span>
      </ion-col>
      <ion-col *ngIf="!hidden">
        <button ion-button small (click)="MarkAsPaid(x)" color="secondary">
          Mark as paid</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button small block (click)="admitSession()">Admit Session</button>
      </ion-col>
    </ion-row>

    <div padding>
      <p class="valid" text-center>Valid until :
        <strong ion-text color="secondary">12-12-2018</strong>
      </p>
    </div>
  </ion-card>
</ion-content>