// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*:not(ion-icon){
    font-family: 'Montserrat', sans-serif !important;
}
.alert-button{
    color:color($colors,dark) !important;
}
.alert-md .alert-input:focus{
    border-bottom: 2px solid color($colors,dark) !important;
}
.avatar{
    border-radius: 50%;
}
.bold{
    font-weight: bold;
}
.segment-ios .segment-button{
    border-radius: unset !important;
}
.list-header-md{
    border-bottom: 1px solid #dedede;
    border-top: unset;
}
.tab-button[aria-selected=true]{
    font-weight: bold;
}
// .title.title-md{
//     text-align: center !important;
// }
.title{
    padding:15px 10px;
    color:color($colors,dark);
    font-weight: bold;
}
.swiper-pagination-bullet-active{
    background:color($colors,secondary);
}
.list-header-md{
    margin-bottom:0px;
}
.sm-text{
    font-size:12px;
}

.outline{
    background:transparent !important;
    border:.5px solid color($colors,primary);
    color:color($colors,primary);
}
.toolbar-title{
    font-size: 14px;
}

.tabs-md .tab-button-text{
    font-size: 0.9rem;
}
.addPackage{
    width:95%;
    background-size: cover;
    height: 95%;
    left: 2%;
    right: 2%;
    top:2%;
    bottom: 2%;
    position: absolute;
    ion-content{
     background:url(../assets/imgs/bg-add.jpg) center center no-repeat;
      border-radius: 10px;
      &::after{
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.7);
      }
    }
}