page-session-details {
.waiting-list{
    button{
        width: 100px;
    }
    ion-icon{
        margin-right:3px;
    }
}
.my-lanes{
    background-color: rgb(0, 134, 134);
    margin-bottom:20px;
    ion-col{
        border:1px solid whitesmoke;
        span{
            font-size: 20px;
            font-weight: bold;
            color: whitesmoke;
            width: 30px;
            background: color($colors,secondary);
            display: inline-block;
            margin-top:5px;
            border:1px solid white;
            padding:2px;
        }
        hr{
            border-bottom:1px solid color($colors,primary);
        }
        .lane-title,.lane-desc{
            font-size: 12px;
            color:color($colors,primary);
        }
        .lane-counter{
            font-size: 14px;
            color:#fff;
        }
    }
}
}
