<!--
  Generated template for the SessionDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Session Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div padding>
    <ion-segment color="dark" [(ngModel)]="choice">
      <ion-segment-button value="waiting">
        Waiting List
      </ion-segment-button>
      <ion-segment-button value="lanes">
        Roster
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="choice">
    <div class="waiting-list" *ngSwitchCase="'waiting'">
      <p text-center ion-text color="gray">
        <span ion-text color="secondary">10 / <strong ion-text color="dark">30</strong></span> Confirmed Athletes</p>
      <ion-item *ngFor="let x of [0,1,2,3,4,5,6,7,8,9]" (click)="view(x)">
        <ion-avatar item-start>
          <img src="assets/imgs/model.jpg">
        </ion-avatar>
        Athlete
        <div item-end>
          <button ion-button small color="green">
            <ion-icon name="md-checkmark"></ion-icon> Accept
          </button>
          <br>
          <button ion-button small color="danger">
            <ion-icon name="md-close"></ion-icon> Reject
          </button>
        </div>
      </ion-item>
    </div>
    <div *ngSwitchCase="'lanes'">
      <ion-row class="my-lanes">
        <ion-col col-3 text-center>
          <span>1</span>
          <p ion-text color="secondary" class="lane-title">( Genre )</p>
        </ion-col>
        <ion-col col-9 text-center>
          <p class="lane-counter">Athlete 1</p>
          <p class="lane-counter">Athlete 2</p>
          <p class="lane-counter">Athlete 3</p>
          <p class="lane-counter">Athlete 4</p>
        </ion-col>
      </ion-row>
      <ion-row class="my-lanes">
        <ion-col col-3 text-center>
          <span>2</span>
          <p ion-text color="secondary" class="lane-title">( Genre )</p>
        </ion-col>
        <ion-col col-9 text-center>
          <p class="lane-counter">Athlete 1</p>
          <p class="lane-counter">Athlete 2</p>
          <p class="lane-counter">Athlete 3</p>
          <p class="lane-counter">Athlete 4</p>
        </ion-col>
      </ion-row>
      <ion-row class="my-lanes">
        <ion-col col-3 text-center>
          <span>3</span>
          <p ion-text color="secondary" class="lane-title">( Genre )</p>
        </ion-col>
        <ion-col col-9 text-center>
          <p class="lane-counter">Athlete 1</p>
          <p class="lane-counter">Athlete 2</p>
          <p class="lane-counter">Athlete 3</p>
          <p class="lane-counter">Athlete 4</p>
        </ion-col>
      </ion-row>
      <ion-row class="my-lanes">
        <ion-col col-3 text-center>
          <span>4</span>
          <p ion-text color="secondary" class="lane-title">( Genre )</p>
        </ion-col>
        <ion-col col-9 text-center>
          <p class="lane-counter">Athlete 1</p>
          <p class="lane-counter">Athlete 2</p>
          <p class="lane-counter">Athlete 3</p>
          <p class="lane-counter">Athlete 4</p>
        </ion-col>
      </ion-row>
      <ion-row class="my-lanes">
        <ion-col col-3 text-center>
          <span>5</span>
          <p ion-text color="secondary" class="lane-title">( Genre )</p>
        </ion-col>
        <ion-col col-9 text-center>
          <p class="lane-counter">Athlete 1</p>
          <p class="lane-counter">Athlete 2</p>
          <p class="lane-counter">Athlete 3</p>
          <p class="lane-counter">Athlete 4</p>
        </ion-col>
      </ion-row>
      <ion-row class="my-lanes">
        <ion-col col-3 text-center>
          <span>6</span>
          <p ion-text color="secondary" class="lane-title">( Genre )</p>
        </ion-col>
        <ion-col col-9 text-center>
          <p class="lane-counter">Athlete 1</p>
          <p class="lane-counter">Athlete 2</p>
          <p class="lane-counter">Athlete 3</p>
          <p class="lane-counter">Athlete 4</p>
        </ion-col>
      </ion-row>
      <ion-row class="my-lanes">
        <ion-col col-3 text-center>
          <span>7</span>
          <p ion-text color="secondary" class="lane-title">( Genre )</p>
        </ion-col>
        <ion-col col-9 text-center>
          <p class="lane-counter">Athlete 1</p>
          <p class="lane-counter">Athlete 2</p>
          <p class="lane-counter">Athlete 3</p>
          <p class="lane-counter">Athlete 4</p>
        </ion-col>
      </ion-row>
      <ion-row class="my-lanes">
        <ion-col col-3 text-center>
          <span>8</span>
          <p ion-text color="secondary" class="lane-title">( Genre )</p>
        </ion-col>
        <ion-col col-9 text-center>
          <p class="lane-counter">Athlete 1</p>
          <p class="lane-counter">Athlete 2</p>
          <p class="lane-counter">Athlete 3</p>
          <p class="lane-counter">Athlete 4</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>