<!--
  Generated template for the SessionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sessions List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <div>
      <ion-segment color="dark" [(ngModel)]="branch">
        <ion-segment-button value="Branchone">
          Branch One
        </ion-segment-button>
        <ion-segment-button value="Branchtwo">
          Branch Two
        </ion-segment-button>
      </ion-segment>
    </div>
  
    <div [ngSwitch]="branch">
      <ion-list *ngSwitchCase="'Branchone'">
        <ion-list-header>
          <h3 text-center ion-text color="secondary">TODAY</h3>
        </ion-list-header>
        <ion-item (click)="viewSession()" *ngFor="let x of [1,2,3,4,5,6]">
          <h3 ion-text color="dark">Title</h3>
          <p ion-text color="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <span class="sm-text" item-end ion-text color="secondary">5 Spots remaining</span>
        </ion-item>
        <ion-list-header>
          <h3 text-center ion-text color="secondary">THIS WEEK</h3>
        </ion-list-header>
        <ion-item (click)="viewEvent()" *ngFor="let x of [1,2,3,4,5,6]">
          <h3 ion-text color="dark">Title</h3>
          <p ion-text color="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <span class="sm-text" item-end ion-text color="secondary">5 Spots</span>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Branchtwo'">
        <ion-list-header>
          <h3 text-center ion-text color="secondary">TODAY</h3>
        </ion-list-header>
        <ion-item (click)="viewSession()" *ngFor="let z of [1,2,3,4,5,6]">
          <h3 ion-text color="dark">Title</h3>
          <p ion-text color="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <span class="sm-text" item-end ion-text color="secondary">3 Spots remaining</span>
        </ion-item>
        <ion-list-header>
          <h3 text-center ion-text color="secondary">THIS WEEK</h3>
        </ion-list-header>
        <ion-item (click)="viewEvent()" *ngFor="let z of [1,2,3,4,5,6]">
            <h3 ion-text color="dark">Title</h3>
            <p ion-text color="gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <span class="sm-text" item-end ion-text color="secondary">3 Spots remaining</span>
          </ion-item>
      </ion-list>
    </div>
  </ion-content>

