<!--
  Generated template for the WaitingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Waiting List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
