<!--
  Generated template for the FocusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Focus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card padding (click)="goWorkouts()">
    <p iont-text color="gray"> Glutes & Hamstring</p>
  </ion-card>
  <ion-card padding (click)="goWorkouts()">
    <p iont-text color="gray"> Chest, Shoulders, Triceps</p>
  </ion-card>
  <ion-card padding (click)="goWorkouts()">
    <p iont-text color="gray"> quads, calves</p>
  </ion-card>
</ion-content>