<!--
  Generated template for the LevelsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Levels</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item *ngFor="let x of [1,2,3,4,5,6,7,8,9]" (click)="goFoc(x)">
            <ion-icon item-start name="flag"></ion-icon>
            Level {{x}}
        </ion-item>
      </ion-list>
</ion-content>
