page-workouts {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          background: #222;
          float: left !important;
          margin-top: 10px !important;

        }
        img{
            height: 160px;
            width: 100%;
            background-size: cover !important;
            opacity: 0.3;
            
        }
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 1.2em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: .8em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
        
      
      }
}
