<!--
  Generated template for the WorkoutsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Workouts List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
  <ion-card (click)="view()">
    <img style="background:url('../assets/imgs/swimming.jpg')"  />
    <div class="card-title">Swimming</div>
    <div class="card-subtitle">11 Levels</div>
  </ion-card>
  <ion-card (click)="view()">
    <img style="background:url('../assets/imgs/fitness.jpg')"  />
    <div class="card-title">Fitness</div>
    <div class="card-subtitle">13 Levels</div>
  </ion-card>
  


</ion-content>